.name {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #1c1d20;
}

.online {
  color: green;
}
.offline {
  color: red;
}
